.heroSection {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sceneContainer {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.splineViewer {
    width: 100%;
    height: 100%;
    display: block;
    transform: translateZ(0);
    will-change: transform, opacity;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}